html {
  scroll-behavior: smooth;
}
/* **************************************** Hero Page Styling Start **************************************** */
.jumbotron {
  /* background: url("https://media.istockphoto.com/photos/taking-care-of-the-crop-aerial-view-of-a-tractor-fertilizing-a-picture-id1154958041?k=20&m=1154958041&s=612x612&w=0&h=swgLn2K8QgSS_6-ihWSO2dEl1BurBqWFHA1rfbsL0P4="); */
  background: url("https://scontent-pnq1-2.xx.fbcdn.net/v/t39.30808-6/240390145_323911959433238_1851248767801452497_n.jpg?stp=dst-jpg_s960x960&_nc_cat=104&ccb=1-5&_nc_sid=e3f864&_nc_ohc=v_ZEOrxeRRoAX9cYme_&_nc_ht=scontent-pnq1-2.xx&oh=00_AT-hmoeppdt15IGvr5qBm066D9kuP_lPOVethQrPntWlCA&oe=62364AF1");
  background-size: cover;
  width: 100%;
  height: 75vh;
}

.fp__bottom {
  background-image: linear-gradient(
    to right,
    #641c4b,
    #882b55,
    #db466f,
    #ed5864,
    #f96e59
  );
  height: 130px;
  margin-top: -35px !important;
}
/* **************************************** Hero Page Styling End **************************************** */

/* **************************************** Courses Details Styling End **************************************** */
.courses__card {
  background-color: rgb(219, 219, 219);
}
.card {
  border: none;
}
.card:hover {
  box-shadow: 10px 10px 12px 4px #807880;
}
/* **************************************** Courses Details Styling End **************************************** */

/* **************************************** Footer Styling End **************************************** */
.footer ul li {
  list-style: none;
}
.coypridht {
  background-color: black;
}
/* **************************************** Footer Styling End **************************************** */
